{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>{{ pin.title }}</h1>
    <p>{{ pin.description }}</p>
</article>
    <a href="{{ path('app_pins_edit', {'id' : pin.id}) }}">Edit</a> |
    <a href="{{ path('app_home') }}">Tous les pins</a> |

    <a href="#" onclick="event.preventDefault(); confirm('Are you fucking sure') && document.getElementById('js_pin_delete_form').submit();">Delete</a>

    <form id="js_pin_delete_form" action="{{ path('app_pins_delete', {'id' : pin.id}) }}" method="post" style="display: none">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}

{% block title %}

{% endblock %}

